@tailwind base;
@tailwind components;


html,
body {
	@apply bg-colorBackground text-colorOnBackground;
	margin: 0;
	position: absolute;
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	@apply bg-colorAccent bg-opacity-10;
}

::-webkit-scrollbar {
	width: 4px;
	@apply bg-colorAccent bg-opacity-10;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.3);
	@apply bg-colorAccent;
}

@tailwind utilities;

.noSelect {
	-webkit-tap-highdark-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.noSelect:focus {
	outline: none !important;
}